/*  your css code here. If applicable */
:root {
            background-color: rgb(135, 206, 235);
        }

        /* Styling for paragraphs */
        article p:first-child {
            color: white;
            background-color: black;
            padding: 5px;
        }

        article p:nth-child(2) {
            color: black;
        }

        article p:last-child {
            color: red;
        }

        /* Unordered list styling */
        ul {
            list-style-type: disc;
            padding-left: 20px;
        }

        ul li {
            background-color: gray;
            padding: 10px;
            width: 50%;
        }

       
        ul li:first-child, ul li:last-child {
            font-size: 22px;
        }

       
        ul li:nth-child(odd) {
            background-color: white;
        }

      
        ul li:nth-last-child(3) {
            background-color: pink;
        }